@font-face {
    font-family: "Pangaia";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src:
        local("Pangaia"), url("/assets/fonts/PPPangaia-Medium.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    color: #06142E;
    background-color: #ece7e1;
    margin: 0 auto;
    max-width: 1400px;
}

h1,
h2,
h3,
a,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Pangaia", Arial, Helvetica, sans-serif;
}

p {
    font-size: max(1rem, 1.20vw);
    font-weight: 100;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    text-align: left;
    color: #06142E;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 1.5rem;
    color: #06142E;
}


/* ------------------------ breadcrumb ------------------------- */

.breadcrumb-container {
    padding: 4% 6%;
    visibility: visible;
}

.fr-breadcrumb {
    display: flex;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__list {
    display: flex;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__list li:not(:last-child)::after {
    content: '>';
    margin: 0 .25rem;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__link,
.project-container .project-header .description-wrapper .link__social {
    text-decoration: underline;
}


@media screen and (min-width: 769px) {
    .breadcrumb-container {
        display: none;
    }
}

/* ------------------------------- Lien d'évitement ---------------------------------- */
.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    max-width: 1px;
    overflow: hidden;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
}

/* ------------------------------- Navbar ---------------------------------- */


.header {
    position: relative;
    width: 100%;
    min-height: 9vh;
}

.border-navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0 2% 0;
    border-bottom: 1px solid #06142E;
}

li {
    list-style: none;
}

button.btn-traduction {
    border: none;
    padding-right: 1rem;
    background-color: #ece7e1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #06142E;
}

.hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hidden {
    display: none;
}

#open-text {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
}

#close-text {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
}


.nav-menu {
    position: fixed;
    left: -100%;
    top: 3.8rem;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #06142E;
    background-color: #ece7e1;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 1rem 0;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item:nth-child(2),
.nav-item:nth-of-type(3) {
    margin-left: 0;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.25rem;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.nav-link::before {
    transform-origin: right;
    left: 50%;
}

.nav-link::after {
    right: 50%;
    transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
    max-width: 50%;
}

.nav-link.active {
    border-bottom: 2px solid #06142E;
}


@media only screen and (min-width: 769px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 0 2% 0;
        border-bottom: none;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        left: auto;
        top: auto;
        flex-direction: row;
        border-bottom: none;
        transition: none;
        box-shadow: none;
        border-bottom: none;
        z-index: auto;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 0 1rem;
        text-align: right;
    }

    .nav-item:first-child {
        margin-left: 1rem;
    }

    .nav-item:nth-child(2),
    .nav-item:nth-of-type(3) {
        margin-left: 3rem;
    }

    .nav-item.right-contact {
        flex: 1;
        padding-right: 50px;
        margin-left: auto;
        margin-right: 0;
    }
}