/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}

/* ---------------------------- Content ----------------------- */

h1 {
    font-size: max(1.25rem, 2.7vw);
    margin-bottom: 1rem;
    letter-spacing: 5%;
    color: rgba(6, 20, 46, 0.8);
    font-weight: 100;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #06142E;
    letter-spacing: 3%;
    font-family: Pangaia;
    text-transform: uppercase;
}

h3 {
    font-size: max(1.25rem, 1vw);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Pangaia;
    letter-spacing: 2%;
    margin-bottom: 24px;
}

.container .content-homepage .content .alternant span {
    font-weight: bold;
    margin-bottom: 8px;
}

.container {
    padding: 2.5rem 6% 2.5rem 6%;
}

.container .content-homepage {
    padding: 3rem 0 2.5rem;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 769px */
@media screen and (min-width: 769px) {

    .btn-traduction {
        display: block;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 6.8vw;
        max-width: 60%;
    }

    .container {
        padding: 4% 6% 0 6%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .content-homepage {
        max-width: 60%;
        transform: translate(80%);
    }

    .contentinfo {
        bottom: 0;
    }
}