/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}

/* ---------------------------- Content ----------------------- */

h1 {
    font-size: max(1.25rem, 2.7vw);
    margin-bottom: 1rem;
    letter-spacing: 5%;
    color: rgba(6, 20, 46, 0.8);
    font-weight: 100;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #06142E;
    letter-spacing: 3%;
    font-family: Pangaia;
    text-transform: uppercase;
}

h3 {
    font-size: max(1.25rem, 1vw);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Pangaia;
    letter-spacing: 2%;
    margin-bottom: 24px;
}

p {
    & span {
        font-weight: bold;
    }

    &:nth-child(2) {
        margin-bottom: 8px;
    }
}

.container {
    padding: 2.5rem 6% 2.5rem 6%;
}

.content-homepage {
    padding: 3rem 0 2.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 769px */
@media screen and (min-width: 769px) {

    .container {
        padding: 4% 6% 0 6%;
    }

    .content-homepage {
        padding: 2.813rem 0 1.563rem 45%;
        /* 45px*/
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 6.8vw;
        width: 45vw;
    }

    .contentinfo {
        bottom: 0;
    }

    .btn-traduction {
        display: block;
    }
}