main {
    min-height: calc(100vh - 88px)
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9em;
    letter-spacing: 0.031rem;
    text-align: left;
}

span {
    font-weight: bold;
}

img {
    width: 2.5rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* ------------------------ HEADER ------------------------- */

.header-container {
    padding: 4% 5%;
}

.breadcrumb-container {
    padding: 0 6%;
}

/* ------------------------ breadcrumb ------------------------- */

.fr-breadcrumb {
    display: flex;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__list {
    display: flex;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__list li:not(:last-child)::after {
    content: '>';
    margin: 0 .25rem;
}

.fr-breadcrumb .fr-collapse .fr-breadcrumb__link,
.project-container .project-header .description-wrapper .link__social {
    text-decoration: underline;
}

/* ------------------------ Main ------------------------- */

.project-container {
    padding: 2rem 5%;
}

.project-container .project-header .project-name {
    margin-bottom: 2rem;
}

.project-container .project-header .description-wrapper h2 {
    color: rgba(6, 20, 46, 0.8);
    font-weight: 400;
    letter-spacing: 2%;
    margin-bottom: 5px;
}

.project-container .project-header .description-wrapper p {
    font-weight: 200;
    letter-spacing: 2%;
    margin-bottom: 5px;
    color: #333333;
}

.project-container .project-header .description-wrapper .link__social {
    align-content: center;
    display: flex;
    gap: 0.5rem
}

.project-container .project-header .description-wrapper .link__social img {
    width: 24px;
    height: 24px;
}

.project-container .presentation-container {
    padding: 2rem 0 0 0;
}

.fancy-underline {
    position: relative;
}

.fancy-underline::after {
    visibility: hidden;
}


/* ------------------------ Présentation ------------------------- */

.presentation-container .project-role-wrapper .role-description {
    padding-bottom: 2rem;
}

.presentation-container .project-role-wrapper .role-description .responsibility-item {
    display: grid;
    gap: 8px;
}

.presentation-container .project-role-wrapper .role-description .responsibility-item li p {
    font-size: 0.813rem;
    font-weight: lighter;
    line-height: 1.9em;
    letter-spacing: 0.5px;
    text-align: left;
}

.presentation-container .content .description p {
    margin-bottom: 8px;
}

.presentation-container .content .description a {
    text-decoration: underline;
    font-size: 1.125rem;
    font-weight: bold;
}

/* ------------------------ Projects Navigation ------------------------- */
.projects-navigtion {
    padding: 5% 5%;
}

.projects-navigtion .go-back-container {
    margin-bottom: 2rem;
}


.projects-navigtion .go-next-wrapper,
.projects-navigtion .go-back-wrapper {
    margin-bottom: 8px;
}

.projects-navigtion .go-next-container,
.projects-navigtion .go-next-container .language p,
.projects-navigtion .go-next-container .subject p {
    text-align: right;
}

.projects-navigtion .go-back-container .previous-project {
    padding-left: 1rem;
}

.projects-navigtion .go-next-container .next-project {
    padding-right: 1rem;
}

.projects-navigtion .previous-project .language p,
.projects-navigtion .next-project .language p {
    font-size: 14px;
    color: #333333;
}

.projects-navigtion .previous-project .subject p,
.projects-navigtion .next-project .subject p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2%;
}


/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 992px) {

    h1 {
        font-size: 4rem;
    }

    .fancy-underline {
        position: relative;
        display: inline-block
    }

    .fancy-underline::after {
        visibility: visible;
        content: '';
        position: absolute;
        bottom: 0.1em;
        left: 40%;
        width: 65%;
        height: 0.5em;
        background: #9CFAD7;
        opacity: 0.8;
        z-index: -1;
    }

    p {
        font-size: 1.125rem;
    }

    .project-container {
        grid-template-columns: auto auto;
        display: grid;
        gap: 80px;
    }

    .presentation-container .project-role-wrapper .role-description .responsibility-item {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .projects-navigtion {
        padding: 5% 5%;
        display: flex;
        justify-content: space-between;
    }

    .projects-navigtion .go-back-container {
        margin-bottom: 0;
    }

    .projects-navigtion .go-back-container .previous-project {
        padding-left: 1rem;
    }

    .projects-navigtion .go-next-container .next-project {
        padding-right: 1rem;
    }

    .projects-navigtion .previous-project h2,
    .projects-navigtion .next-project h2 {
        font-size: 2rem;
    }
}