/* ----------------------- Grid ------------------- */

#containerAbout {
    display: grid;
    /* gap: 1rem; */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ----------------------- MAIN ------------------- */

.about-content {
    max-width: 100%;
    height: auto;
    padding: 0 10% 15% 10%;
}

.about-wapper {
    margin-bottom: 5%;
}

.title {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 4%;
    letter-spacing: 0.063rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: 0.031rem;
}

h3 {
    font-size: 1.563rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}

.content-description {
    padding: 0;
}

.last-content {
    margin-bottom: 10%;
}

.photo {
    position: relative;
    display: inline-block;
}

.img-wrap::after,
.img-wrap::before {
    border: 3px solid #06142E;
    position: absolute;
    content: "";
    position: absolute;
    left: 5%;
    right: -5%;
    bottom: -5%;
    top: 5%;
    z-index: -1;
    transition: transform 0.3s ease;
}


/* ----------------------- COLLAPSIBLE ------------------- */

.accordion {
    width: 90%;
    max-width: 1000px;
}

.accordion-item {
    background-color: #F5EEE6;
    color: #06142E;
    letter-spacing: 0.125rem;
    border-bottom: 1px solid #06142E;
}

.accordion-item:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-color: #86b7fe;
}

.accordion-item-header.active {
    color: #06142E;
}

.accordion-item-header.active p {
    color: #06142E;
}

.accordion-item-header {
    padding: 1rem 0 1rem 0;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    border-color: #06142E;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-color: #06142E;
    /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}

.accordion-item-header p {
    margin-bottom: 0;
    font-family: "Pangaia", Arial, Helvetica, sans-serif;
    letter-spacing: 0.125rem;
}


/* ---------------------------- Skills list ----------------------- */

.about-skills {
    max-width: 100%;
    height: auto;
    padding: 0 10% 10% 10%;
}

.content-skills {
    border-top: 1px solid #06142E;
}

.skills-list {
    display: flex;
    align-items: center;
}

.skills-list li {
    width: 100%;
}


.skills-column-one {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 2rem;
    padding: 0;
}

.skills ul {
    list-style: none;
    padding: 0;
}


.skills li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0.313rem;
    margin-right: 1rem;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #131313;
}

.skills img {
    padding-right: 0.625rem;
    align-items: center;
}

/* ---------------------------- Navbar ----------------------- */


.btn-traduction {
    display: none;
}

#ariane ol {
    padding-left: 0;
    margin-bottom: 0;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 769px) {
    .about-content {
        display: flex;
        padding: 10% 10% 0 10%;
    }

    .about-wapper {
        margin-right: 5%;
    }

    .content-description {
        padding: 0;
    }

    .card-body p {
        padding: 4%;
    }

    .photo-title {
        visibility: hidden;
    }

    .skills li {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .skills-column-one {
        margin-right: 3.125rem;
    }

    .skills img {
        padding-right: 0.625rem;
        align-items: center;
    }

    .navbar ul {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .nav-menu {
        padding: 0;
    }

    .left-contact {
        flex: 1;
        padding-right: 40px;
    }

    .btn-traduction {
        display: block;
    }

    .photo {
        position: relative;
        display: inline-block;
    }

    .img-wrap::after,
    .img-wrap::before {
        border: 3px solid #06142E;
        position: absolute;
        content: "";
        position: absolute;
        left: -5%;
        right: 5%;
        bottom: -5%;
        top: 5%;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .photo-hover:hover+.img-wrap::after {
        transform: translate(-5px, -5px);
    }

    .photo-hover:hover+.img-wrap::before {
        transform: translate(5px, 5px);
    }

}