

/* ----------------------- Grid ------------------- */

#container {
    display: grid;
    /* gap: 1rem; */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ----------------------- MAIN ------------------- */

.wrapper {
    max-width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
}

.content {
    margin-bottom: 10%;
}

.description-content {
    padding: 0;
}

.img {
    visibility: hidden;
}

h1 {
    margin-bottom: 4%;
    letter-spacing: 0.063rem;
}

h2 {
    font-weight: 300;
    margin-bottom: 4%;
    line-height: 1.3em;
}

h3 {
    margin-bottom: 0.938rem;
}

.quote {
    margin-top: 1.875rem;
}

span {
    font-weight: bold;
    font-size: 0.875rem;
    padding-left: 5%;
}
/* ----------------------- COLLAPSIBLE ------------------- */

/* Styles pour le bouton du collapse */
.accordion-button {
    background-color: #F5D7DB;
    color: #06142E;
    letter-spacing: 0.125rem;
}

/* Quand le bouton collapse est actif */
.accordion-button:not(.collapsed) {
    background-color: rgba(6, 20, 46, 0.8);
    color: #F5D7DB;
}

.accordion-button:focus {
    box-shadow: none;
}

p {
    color: #06142E;
    padding: 10px;
    text-align: justify;
}

.accordion-item {
    background-color: #F5D7DB;
    border-color: #06142E;
}


/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
    .wrapper {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }

    .content {
        margin-right: 5%;
    }

    .description-content {
        padding: 0;
    }

    p {
        padding-right: 10%;
    }

    .img {
        visibility: visible;
    }
}