/* ------------------------------- Grid ---------------------------------- */

#flex-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ------------------------------- MAIN ---------------------------------- */


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
    margin-bottom: 0;
}


.link-mail:hover {
    text-decoration: underline;
}

.link-mail {
    color: #11223F;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: 0.031rem;
}

h1 {
    font-size: 2.5rem;
}



/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
    .container-contact {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-text {
        bottom: 0;
    }
}