/* ------------------------------- Grid ---------------------------------- */

#flex-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ------------------------------- MAIN ---------------------------------- */

.contact-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 2.5rem;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.063rem;
}

address {
    margin-top: 1.25rem;
    font-style: normal;
}

.mail-link {
    color: #11223F;
    text-decoration: underline;
    list-style-type: none;
    cursor: pointer;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: 0.031rem;
}

.contentinfo {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 769px) {
    .contact-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    
    .mail-link {
        text-decoration: none;
    }
    
    .mail-link:hover {
        text-decoration: underline;
    }

    .btn-traduction {
        display: block;
    }
}