/* ------------------------------- Grid ---------------------------------- */

#homepage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ------------------------------- main ---------------------------------- */


.inner-center {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.content-homepage {
    padding: 1.563rem 0 1.563rem 6%;
    margin: 0 0 1.563rem 0;
    text-align: right;
    border-bottom: 0.094rem solid #06142E;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ------------------------ STYLE PAGE-CONTENT ------------------------- */

h1 {
    font-size: max(1.25rem, 2.7vw);
    margin-bottom: 0rem;
    color: rgba(6, 20, 46, 0.8);
}

h2 {
    font-size: max(2.813rem, 6.8vw);
    margin-bottom: 0;
    margin-top: -0.5rem;
    color: #06142E;
    letter-spacing: 0;
    font-family: Pangaia;
}

p:first-child {
    font-size: max(1.25rem, 2vw);
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Pangaia;
    letter-spacing: 0.01rem;
    margin-bottom: 2%;
}

p {
    text-align: justify;
    margin-bottom: 0;
    line-height: 1.8rem;
}

.links {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 2.063rem;
    /*pour permettre à la nav de s'aligner verticalement en mode mobile*/
    list-style-type: none;
}

.links a {
    margin-left: 0.313rem;
    cursor: pointer;
}

.links img {
    width: 1.875rem;
    height: 1.875rem;
}

/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 769px) {

    .inner-center {
        margin: 10% 10% 0 10%;
        padding: 0;
    }

    .content-homepage {
        padding: 2.813rem 6% 1.563rem 12%;
        /* 45px*/
    }

    h1 {
        margin-bottom: -2rem;
    }

    p {
        text-align: right;
    }

    .links img {
        width: 2.188rem;
        height: 2.188rem;
    }

    .contentinfo {
        bottom: 0;
    }

    .btn-traduction {
        display: block;
    }
}