/* ------------------------------- Grid ---------------------------------- */

#flex-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ------------------------------- main ---------------------------------- */

.main {
    min-height: calc(400px - 60px)
}

.horizontal-wrapper {
    position: relative;
    margin-top: 6.25rem;
    margin-bottom: 0;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-content {
    margin-top: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
}

/* ------------------------ STYLE PAGE-CONTENT ------------------------- */

h1,
h2,
h3 p {
    margin-bottom: 1.875rem;
}

h1 {
    margin-bottom: 0;
    color: #06142E;
    -webkit-text-fill-color: #F5D7DB;
    -webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: #06142E;
}

p {
    padding-bottom: 1.563rem;
    margin-bottom: 1.563rem;
    border-bottom: 0.094rem solid #06142E;
}

.links {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 2.063rem;
    /*pour permettre à la nav de s'aligner verticalement en mode mobile*/
    list-style-type: none;
}

.links a {
    margin-left: 0.313rem;
    text-decoration-line: none;
    cursor: pointer;
    position: relative;
    color: #06142E;
    font-size: 1.25rem;
    font-weight: 500;
}

.links a:hover {
    text-decoration: underline;
}


/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
    .horizontal-wrapper {
        margin-top: 10%;
        margin-bottom: 0;
    }

    .page-content {
        margin: 0;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
}