/* ----------------------- Grid ------------------- */

#containerProject {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ----------------------- MAIN ------------------- */

.projects-content {
    max-width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    margin-bottom: 4%;
    font-weight: 600;
    letter-spacing: 0.188rem;
}

.left-content p {
    margin-bottom: 5%;
}

.left-content {
    margin-bottom: 15%;
    border-bottom: 0.063rem solid #11223F;
}

/* ----------------------- NAVBAR Projet ------------------- */

.navbar-projects {
    padding-left: 0;
}

.navbar-projects p {
    text-align: left;
}

.name-project {
    list-style-type: none;
    margin-bottom: 1.563rem;
}

.link-project::after {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .6em;
    background: #9CFAD7;
    z-index: -1;
    opacity: 0.8;
    transition: transform .4s ease-in-out;
}

.link-project:hover::after {
    transform: scaleX(1);
}

.link-project {
    position: relative;
    color: #06142E;
    text-decoration: none;
    cursor: pointer;
    font-size: 8vw;
    line-height: 1em;
}

.name-project p {
    font-weight: 200;
}

.li a {
    display: block;
    width: 6.25rem;
}

.name-project span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.031rem;
    color: #06142E;
}


/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}

/* ---------------------------- Responsive styles ----------------------- */


/* For screens larger than 992px */
@media screen and (min-width: 769px) {

    .projects-content {
        padding-right: 4%;
        padding-top: 10%;
    }

    .projects-wapper {
        display: flex;
    }

    .link-project {
        overflow: scroll;
        text-align: left;
        font-size: 7vw;
        line-height: 1em;
    }

    .left-content {
        width: 50%;
        padding-right: 10%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: hidden;
    }

    .right-content {
        width: 50%;
        overflow: auto;
        max-height: 65vh;
    }

    /* .nav-name-projects {
        scrollbar-color: #11223F;
    } */

    .btn-top {
        visibility: hidden;
    }

    .contentinfo {
        bottom: 0;
    }

    .btn-traduction {
        display: block;
    }
}