/* ----------------------- Grid ------------------- */

#containerProject {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* ----------------------- MAIN ------------------- */

.projects-content {
    max-width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
}

h1 {
    margin-bottom: 4%;
    font-weight: 600;
    letter-spacing: 0.188rem;
}

.left-content p {
    margin-bottom: 10%;
}

.left-content {
    margin-bottom: 15%;
    border-bottom: 0.063rem solid #11223F;
}

/* ----------------------- NAVBAR Projet ------------------- */

p {
    margin-bottom: 0;
    color: #06142E;
    text-align: justify;
}

.navbar-projects {
    padding-left: 0;
}

.navbar-projects p {
    text-align: left;
}

.name-project {
    list-style-type: none;
    margin-bottom: 1.563rem;
}

.link-project {
    position: relative;
    color: #06142E;
    text-decoration: none;
    cursor: pointer;
    font-size: 8vw;
    line-height: 1em;
}

.li a {
    display: block;
    width: 6.25rem;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #131313;
}


/* ---------------------------- Navbar ----------------------- */

.navbar {
    display: flex;
    justify-content: flex-end;
}

.btn-traduction {
    display: none;
}


/* ---------------------------- Responsive styles ----------------------- */

/* For screens smaller than 991px */
@media screen and (max-width: 991px) {
    .link-project {
        background-image: linear-gradient(120deg, #9CFAD7, #93EDC7 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.4em;
        background-position: 0 90%;
        transition: background-size 0.25s ease-in;
    }
}


/* For screens larger than 992px */
@media screen and (min-width: 992px) {

    .projects-content {
        padding-right: 4%;
    }

    .projects-wapper {
        display: flex;
    }

    .left-content {
        width: 50%;
        padding-right: 10%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: hidden;
    }

    .left-content p {
        margin-bottom: 10%;
    }

    .right-content {
        width: 50%;
        overflow: auto;
        max-height: 65vh;
    }

    /* .nav-name-projects {
        scrollbar-color: #11223F;
    } */

    .link-project {
        overflow: scroll;
        text-align: left;
        font-size: 7vw;
        line-height: 1em;
    }

    .link-project::after {
        content: '';
        transform-origin: 0 0;
        transform: scaleX(0);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: .6em;
        background: #9CFAD7;
        z-index: -1;
        opacity: 0.8;
        transition: transform .3s;
    }

    .link-project:hover::after {
        transform: scaleX(1);
    }

    .btn-top {
        visibility: hidden;
    }

    .contentinfo {
        bottom: 0;
    }

    .btn-traduction {
        display: block;
    }
}