@font-face {
    font-family: "Pangaia";
    src: url("/Atoms/fonts/PPPangaia-Medium.woff2") format("truetype"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #06142E; 
    background-color: #F5EEE6;
    font-family: arial, sans-serif;
}

h1,
h2,
h3,
a {
    font-family: Pangaia, Helvetica, sans-serif;
}

p {
    font-size: max(1rem, 1.30vw);
    font-weight: 400;
    line-height: 1.9em;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 1.5rem;
}

/* ------------------------------- fil ariane ---------------------------------- */
#arianeShare {
    display: block;
}

#ariane a, #ariane span  {
    color: #343643;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 2.2rem;
}

#ariane li {
    display: inline-block;
}

#ariane {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

#ariane li:not(:last-child)::after {
    content: '>';
    margin: 0 0.313rem;
}

@media screen and (min-width: 769px) {
    #arianeShare {
        display: none;
    }

    #ariane a {
        display: none;
    }
}

