@font-face {
    font-family: "Pangaia";
    src: url("/Atoms/fonts/PPPangaia-Medium.otf") format("truetype"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #06142E;
    background-color: #F5D7DB;
    font-family: arial, sans-serif;
}

h1,
h2,
h3,
a {
    font-family: Pangaia;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 3px;

}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.563rem;
    font-weight: 200;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.9em;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 1.5;
}

