@font-face {
    font-family: "Pangaia";
    src: url("/Atoms/fonts/PPPangaia-Medium.woff2") format("truetype"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #06142E; 
    background-color: #F5EEE6;
    font-family: arial, sans-serif;
}

h1,
h2,
h3,
a {
    font-family: Pangaia, Helvetica, sans-serif;
}

h1 {
    font-weight: 500;
    letter-spacing: 0.188rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

h3 {
    font-size: 1.563rem;
    font-weight: 200;
}

p {
    font-size: max(1rem, 1.30vw);
    font-weight: 400;
    line-height: 1.9em;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 1.5rem;
}


