* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    width: 100%;
    min-height: 9svh;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 1% 1.5% 1%;
    border-bottom: 1px solid #06142E;
}

li {
    list-style: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #06142E;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    text-align: right;
}

.nav-link {
    display: inline;
    text-decoration: none;
    letter-spacing: 0.125rem;
}

.nav-link:hover {
    border-bottom: 3px solid #06142E;
}

.nav-link.active {
    border-bottom: 3px solid #06142E;
}

.navbar ul {
    display: flex;
    width: 100%;
}

.left-contact {
    flex: 1;
    padding-right: 50px;
}

button.btn-traduction {
    border: none;
    background-color: #F5EEE6;
    padding-right: 40px;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3.8rem;
        flex-direction: column;
        background-color: #F5EEE6;
        width: 100%;
        border-bottom: 1px solid #06142E;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1000;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-link:hover {
        border-bottom: 3px solid #06142E;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        border: none;
        background-color: #F5EEE6
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .hidden {
        display: none;
    }

    #open-text {
        font-size: 0.875rem;
        font-weight: 400;
        color: #06142E;
    }

    #close-text {
        font-size: 0.875rem;
        font-weight: 400;
        color: #06142E;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    .left-contact {
        flex: 1;
        padding-right: 0;
    }
}