[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    transition: all 0.5s ease-in-out;
    /* Faster transition */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    top: 100%;
    /* Placed at the bottom */
    left: 50%;
    margin-top: 0.313rem;
    transform: translateX(-50%);
    padding: 0.188rem 0.938rem;
    width: 100px;
    border-radius: 0.313rem;
    background-color: #06142E;
    color: #F5EEE6;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.313rem;
}

[data-tooltip]:after {
    position: absolute;
    top: 100%;
    /* Placed at the bottom */
    left: 50%;
    margin-left: -0.313rem;
    width: 0;
    border-bottom: 0.313rem solid #06142E;
    /* Changed to border-bottom */
    border-right: 0.313rem solid transparent;
    border-left: 0.313rem solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    transition: all 0.5s ease-in-out;
    /* Faster transition */
    visibility: visible;
    opacity: 1;
}
