@font-face {
    font-family: "Pangaia";
    src: url("/assets/fonts/PPPangaia-Medium.woff2") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #F3DBC7;
    background-color: #333333;
    font-family: arial, sans-serif;
}

h1,
h2,
h3,
a {
    font-family: Pangaia, Helvetica, sans-serif;
}

p {
    font-size: max(1rem, 1.30vw);
    font-weight: 400;
    line-height: 1.9em;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 1.5rem;
}