@font-face {
    font-family: "Pangaia";
    src: url("/Atoms/fonts/PPPangaia-Medium.woff2") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0.188rem;
    padding-bottom: 0.375rem;
}

h2 {
    font-size: 1.563rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

address {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9em;
    position: relative;
}

/* ------------------------------- main ---------------------------------- */

.horizontal-content {
    position: relative;
    padding: 0 5% 2rem 5%;
}

.title-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.875rem;
}

.paragraphe {
    margin-bottom: 1.25rem;
}

/* ---------------------------- Navbar ----------------------- */

.btn-traduction {
    display: none;
}


/* ------------------------------- fil ariane ---------------------------------- */

#ariane a,
#ariane span {
    color: #343643;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 2.2rem;
}

#ariane span {
    text-decoration: underline;
}

#ariane a:hover {
    text-decoration: underline;
}

#ariane li {
    display: inline-block;
}

#ariane {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
}

#ariane li:not(:last-child)::after {
    content: '>';
    margin: 0 0.313rem;
}


@media screen and (min-width: 769px) {
    #arianeShare {
        display: block;
    }

    #ariane a {
        display: block;
        margin: 0 0.313rem;
    }

    #ariane li:not(:last-child)::after {
        content: '>';
        margin: 0;
    }

    #ariane li {
        display: inline-flex;
        align-items: center;
    }

    .btn-traduction {
        display: block;
    }
}