.contentinfo {
    text-align: center;
    font-family: "Pangaia";
    font-size: 0.875rem;
    font-weight: 600;
    color: #06142E;
    padding: 0.938rem;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

span a {
    text-decoration: underline;
}

img {
    margin-right: 1%;
    width: 18;
    height: 14;
}

/* ---------------------------- Responsive styles ----------------------- */

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
    .container-mention-legales {
        display: inline-block;
        flex-direction: column;
    }

    .contentinfo {
        position: absolute;
        /* bottom: 0; */
        right: 0;
        text-align: center;
        font-family: "Pangaia";
        font-weight: 600;
        font-size: 1rem;
        color: #06142E;
        padding: 0.938rem;
        margin-left: 1.25rem;
        writing-mode: vertical-lr;
        white-space: nowrap;
        transform: rotate(180deg);
    }

    img {
        margin-bottom: 2%;
        width: 18;
        height: 14;
    }
}